<div class="h-screen flex flex-col overflow-hidden">
  <header class="h-20 shrink-0 p-4 border-b flex items-center">
    <h1 class="text-2xl font-bold">E-Commerce</h1>
    <button type="button" class="ml-auto relative" (click)="toggleCart()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="#000000"
        viewBox="0 0 256 256"
      >
        <path
          d="M230.14,58.87A8,8,0,0,0,224,56H62.68L56.6,22.57A8,8,0,0,0,48.73,16H24a8,8,0,0,0,0,16h18L67.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,160,204a28,28,0,1,0,28-28H91.17a8,8,0,0,1-7.87-6.57L80.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,230.14,58.87ZM104,204a12,12,0,1,1-12-12A12,12,0,0,1,104,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,200,204Zm4-74.57A8,8,0,0,1,196.1,136H77.22L65.59,72H214.41Z"
        ></path>
      </svg>

      @if (cart().length > 0) {
      <span
        class="absolute -top-2 -right-2 bg-red-600 text-white text-sm font-medium w-6 h-6 rounded-full"
      >
        {{ cart().length }}
      </span>
      }
    </button>
  </header>

  <main class="flex-1 lg:flex overflow-hidden">
    <div
      class="overflow-y-auto"
      [ngClass]="isCartOpen() ? 'lg:w-1/2' : 'w-full'"
    >
      <ec-products-list
        class="border-e-2 border-slate-200 p-4 w-full mx-auto overflow-y-auto"
        [ngClass]="isCartOpen() ? 'lg:max-w-[700px]' : ''"
      ></ec-products-list>
    </div>

    @if (isCartOpen()) {
    <div
      class="p-4 lg:w-1/2 overflow-y-auto absolute inset-0 bg-white lg:static"
    >
      <button
        type="button"
        class="fill-red-600 absolute top-4 right-4 lg:hidden"
        (click)="toggleCart()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 256 256"
          class="inline-block"
        >
          <path
            d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"
          ></path>
        </svg>
      </button>
      <ec-cart></ec-cart>
    </div>
    }
  </main>
</div>
