@for (item of cartItems(); track item.id) {
<ec-cart-item [item]="item"></ec-cart-item>
}@empty {
<div class="text-center h-screen content-center">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="128"
    height="128"
    viewBox="0 0 256 256"
    class="inline-block fill-gray-500"
  >
    <path
      d="M230.14,58.87A8,8,0,0,0,224,56H62.68L56.6,22.57A8,8,0,0,0,48.73,16H24a8,8,0,0,0,0,16h18L67.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,160,204a28,28,0,1,0,28-28H91.17a8,8,0,0,1-7.87-6.57L80.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,230.14,58.87ZM104,204a12,12,0,1,1-12-12A12,12,0,0,1,104,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,200,204Zm4-74.57A8,8,0,0,1,196.1,136H77.22L65.59,72H214.41Z"
    ></path>
  </svg>
  <p class="text-center mt-4">{{ "your_cart_is_empty" | translate }}</p>
</div>

<!-- Cart Summary -->
} @if (cartItems().length > 0) {
<h2 class="text-2xl font-semibold my-8">{{ "cart_summary" | translate }}</h2>
<div>
  <div class="p-4 flex border-b">
    <span class="font-semibold">{{ "subtotal" | translate }}</span
    >:
    <span class="ml-auto">{{
      orderSummary().subtotal
        | currency
          : (cartItems()[0] | translateName : "currency" : currentLang())
          : "symbol-narrow"
    }}</span>
  </div>
  @if (orderSummary().couponDiscount > 0) {
  <div class="p-4 flex border-b">
    <span class="font-semibold">{{ "discount" | translate }}</span
    >:
    <span class="ml-auto">{{
      orderSummary().couponDiscount
        | currency
          : (cartItems()[0] | translateName : "currency" : currentLang())
          : "symbol-narrow"
    }}</span>
  </div>
  }
  <div class="p-4 flex border-b">
    <span class="font-semibold">{{ "shipping" | translate }}</span
    >:
    <span class="ml-auto">{{
      orderSummary().shipping
        | currency
          : (cartItems()[0] | translateName : "currency" : currentLang())
          : "symbol-narrow"
    }}</span>
  </div>

  <div class="p-4 flex border-b">
    <span class="font-semibold">{{ "total" | translate }}</span
    >:
    <span class="ml-auto">{{
      orderSummary().total
        | currency
          : (cartItems()[0] | translateName : "currency" : currentLang())
          : "symbol-narrow"
    }}</span>
  </div>

  <div class="mt-8 flex flex-col gap-1">
    <form class="flex gap-2 py-4" [formGroup]="form" (ngSubmit)="applyCoupon()">
      <input
        type="text"
        class="flex-1 py-2 px-3 border border-gray-300 rounded-md"
        formControlName="couponCode"
        placeholder="Enter coupon code"
      />
      <button
        type="submit"
        class="px-3 py-2 bg-blue-600 text-white font-medium rounded-md"
        [disabled]="form.invalid || couponCode.trim().length === 0"
      >
        {{ "apply" | translate }}
      </button>
    </form>
    @if (couponApplied() && couponValid()) {
    <p class="text-green-500">
      {{ "coupon_applied_successfully" | translate }}
    </p>
    } @else if (couponApplied() && !couponValid()) {
    <p class="text-red-500">{{ "invalid_coupon_code" | translate }}</p>
    }
  </div>
</div>
}
